* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 45%;
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 75%;
  }
}
